@bgcolor: #B28268;
@moviebgcolor: #FFCAAE;

body {
    background-color: @bgcolor;
}

.movieBody {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    background-color: @moviebgcolor;
}

.movieBody div {
    margin: 20px;
}

.movieImage {
    max-width: 200px;
}

.movieText {
    flex-grow: 1;
}

.rating span {
    user-select: none;
    cursor: pointer;
    color: gray;
    font-size: x-large;
}

.rating .filledStar {
    color: black;
}

.rating .hoverStar {
    color: yellow;
}
