.movieBody {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    background-color: #FFCAAE;
}

.movieBody div {
    margin: 20px;
}

.movieImage {
    max-width: 200px;
}

.movieText {
    flex-grow: 1;
}